* {
  font: Brush Script MT;
}
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
  }

h1 {
    text-align: center;
}

h3 {
  text-align: center;
}

#portrait {
  width: 25%;
  margin: 0px auto;
  display: block;
}

