body {
    background-color: white;
    margin: 0px;
    padding: 0px;
  }

h1 {
    text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

#portrait {
  width: 25%;
  margin: 0px auto;
  display: block;
}

p {
  text-align: center;
  padding-top: 10px;
  margin-left:500px;
  margin-right: 500px;
}

#hobbies {
  display: block;
  margin-left: 550px;
  margin-right: 550px;
}