body {
    background-color: rgb(237, 237, 237);
    background-size: cover;
    margin: 0px;
    padding: 0px;
  }

h1 {
    text-align: center;
}

h2 {
  text-align: center;
  padding-top: 10px;
}

h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:500px;
  margin-right: 500px;
}

#portrait {
  width: 15%;
  margin: 0px auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10%;
}

#hobbies {
  text-align: center;
  margin-left: 850px;
  margin-right: 850px;
  
}

#introduction {
  padding-left: 300px;
  padding-right: 300px;
}


